.social{
  // background-color: red;
  position: fixed;
  top:65%;
  left: 0;
  z-index: 10100;
  &-list{
    list-style: none;
    &__item{
      // @include centerFlex;



      &:hover .fa{
        padding: 1rem 1.5rem;
        background-color: $clSecondary;
        transform-origin: left;
        border-radius: 0 30% 30% 0;
        box-shadow: 0 0 .5rem rgba(0, 0, 0, .6);
      }
    }
    &__link{
      display: inline-block;
      // @include centerFlex;
      color: $clTextoGen;
      font-size: 1.5rem;
      .fa{
        padding: 1rem 1rem;
        width: 2rem;
        height: 2rem;
        @include centerFlex;
        transition: background-color .5s .3s linear,
                    border-radius .3s ease-in-out,
                    padding .4s ease-in-out,
                    box-shadow .3s linear;

      }
      .fa-facebook-square{
        background-color:#3b5998;
        border-radius: 0 30% 0 0;
      }
      .fa-twitter-square{
        background-color:#00abf0;
      }
      .fa-instagram{
        background-color:#cd486b;
      }
      .fa-pinterest-square{
        background-color:#ae181f;
        border-radius: 0 0 30% 0;
      }
    }
  }
}
