section.contactContainer#contacto
  .contactContainer-reg
    +headerTitle('PONTE EN', 'CONTACTO')
    +form()
    block forms
  .contactContainer-address
    .address-title
      h3 Comienza una Nueva aventura
    .address-details
      .addressDet
        p Colegio Bilingüe Oxford
        p Km 5 Via puerto López, Vereda Apiay.
        p Villavicencio, Meta
      .numberPhone
        p (8) 669 80 00
        p +57 310 777 94 11
      .mail
        p
    .address-map
      .address-map__container
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3979.6672111184116!2d-73.5744766860324!3d4.087991114055067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3e2f3a73dce34d%3A0x3e9801317b2e07b2!2sColegio+Biling%C3%BCe+Oxford!5e0!3m2!1ses-419!2sco!4v1510219223269" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
