footer.piePagina
  .piePagina-copyright
    p.t1 Copyright &#169 2017 // Todos los derechos reservados a &nbsp #[a(href="http://www.oxfordschool.edu.co" target="blanck")=empresa+" S. en C."] // Desarrollado por &nbsp
      a(href="http://www.codigocreativo.com.co" target="blanck") CreativeCode
    p.t2 Villavicencio - Meta
  .piePagina-logoFinal
    img.imgFinal(src="images/escudo.png" width="15%")
