section#grupos.groupsContainer
  .groupsContainer-spacing
  .groupsContainer-banners
    .groupsContainer-bannerUno.bannerLink
      +bannerLink('MANADA', 'HATHI', 'Los scout que hacen parte de la manada son los chicos de 6 a 11 años de edad pero en nuestro grupo son desde el grado primero hasta el grado quinto.', 'site_info01.html')
    .groupsContainer-bannerDos.bannerLink
      +bannerLink('TROPA', 'CAMELOT', 'Los scout que hacen parte de la tropa son los chicos de 11 a 15 años de edad pero en nuestro grupo son desde el grado sexto hasta el grado noveno.', 'camelot.html')
    .groupsContainer-bannerTres.bannerLink
      +bannerLink('COMUNIDAD', 'WALLACE', 'Los scout que hacen parte de la comunidad son los chicos de 15 a 18 años de edad pero en nuestro grupo son del grado decimo hasta el grado once.', 'wallace.html')
    .groupsContainer-bannerCuatro.bannerLink
      +bannerLink('CLAN', 'MACLAREN', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, veniam enim a omnis soluta magni animi fuga quae voluptatum error? Aut, architecto. A et obcaecati vero vel doloremque numquam officiis!', 'clan.html')






