header.hero
  .encabezado
    .texto
      h2.headerText SITIO EN
      h1 CONSTRUCCIÓN
  .logo
    img(src="./images/logoCompleto.png", alt="Codigo Creativo para Grandes Ideas" height="120" class="heroLogo")
  .url
    h2 www.refugiodelzorzal.co
