block config
  include ./components/config.pug

include metatags_webapp.pug

doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
    +metatagsWebApp()
    block metatags
    title #{siteTitle} | #{pagesDescription}
    meta(name="description" content=description)
    meta(name="application-name", content=siteTitle)
    link(rel="stylesheet", href="./styles.css")
  body
    block content
    script(src="./script.js")
