//- fixme:pendiente por revisar la identacion
main#institucional.mainContainer.u-firstContent
  +headerTitle('QUIÉNES', 'SOMOS')
  section.mainContainer-sectionOne
    .mainContainer-boxA
      //- +titlesPack('Scouts', 'Oxford')
      article.mainContainer-body_b1
        p.mainContainer-text1 Somos una empresa que nos apasiona el diseño, el código y el desarrollo web, somos entusiastas de la animación 2D y 3D, pero sobre todo, somos amantes de la tecnología y el buen servicio, nos preocupamos para que nuestros usuarios reflejen lo mejor de su empresa usando las ultimas herramientas que la tecnología coloca a nuestro alcance.
    section.infoContainer.mainContainer-links
      +titleLinks('saber más de nosotros', '', '', '')
        block Ventanamodal
          +modalBox('', [[['']], ['Somos una empresa que nos apasiona el diseño, el código y el desarrollo web, somos entusiastas de la animación 2D y 3D, pero sobre todo, somos amantes de la tecnología y el buen servicio, nos preocupamos para que nuestros usuarios reflejen lo mejor de su empresa usando las ultimas herramientas que la tecnología coloca a nuestro alcance.'], [''], ['']], [['']], 'historia')
  //-     +titleLinks('LEY Y', 'PROMESA', 'La Orientación y forma de vivir para un verdadero Scout', 'ley')
  //-       block Ventanamodal
  //-         +modalBox('LEY Y PROMESA', [['LEY'], ['1. El Scout cifra su honor en ser digno de confianza.'], ['2. El Scout es leal.'], ['3. El Scout es útil y ayuda a los demás sin esperar recompensa.'], ['4. El Scout es amigo de todos y hermano de cualquier Scout sin distinción de credo, raza, nacionalidad o clase social.'], ['5. El Scout es cortes y respeta las convicciones de los demás.'], ['6. El Scout ve en la naturaleza la obra de Dios y procura su conservación y progreso.'], ['7. El Scout es obediente, responsable y ordenado.'], ['8. El Scout sonríe y canta en sus dificultades.'], ['9. El Scout es económico, trabajador y cuidadoso del bien ajeno.'], ['10. El Scout es limpio y sano, puro en pensamientos, palabras y acciones.']], [['PROMESA'], ['Por mi honor y con la gracia de Dios,'], ['Prometo hacer todo cuánto de mí dependa para:'], ['Cumplir mis deberes para con Dios y con la patria,'], ['Ayudar al prójimo en toda circunstancia;'], ['y Cumplir fielmente la ley Scout']],'promesa')
  //-     +titleLinks('NUESTROS', 'RECONOCIMIENTOS', 'Reconocimiento de embajadores de mensajeros de la Paz', 'reconocimientos')
  //-       block Ventanamodal
  //-         +modalBox('NUESTROS RECONOCIMIENTOS', [[['RECONOCIMIENTOS OBTENIDOS POR EL GRUPO SCOUT 2 OXFORD:']], ['em BLASON GRACIAS NACIONAL año 2011: La Corte de Honor Nacional concede el Blasón Gracias Nacional para agradecer a las personas y entidades que con sus acciones benefician a la comunidad'], ['GRACIAS RALLY NACIONAL DE LOBATOS 2013: La Corte de Honor Nacional concede el Gracias del Rally Nacional de Lobatos al grupo 2 Oxford por su activa y extensa participación “más allá del deber” en pro de los lobatos participantes y del Lobatismo Nacional.'], ['RECONOCIMIENTO NACIONAL DE MENSAJEROS DE LA PAZ año 2017: La Comisión Nacional Mundo Mejor que como embajador de mensajeros de la paz reconoce al Grupo scout 2 Oxford por ser pionero en iniciativas y acciones para construir un mundo mejor, en proyectos como: La canasta del amor, Chocolatadas, Cinco Panes y Tres Peces, Hogares de Vida y proyectos similares.'], ['GRACIAS - FUNDACIÓN SANAR: Por el apoyo incondicional en la recolección y donación de tapas para ayudar al desarrollo del programa de detención temprana a niños, niñas y adolescentes con cáncer.'], ['GRACIAS - FUNDACIÓN HOGAR SAN CAMILO: Por el apoyo incondicional en la recolección y donación de productos de primera necesidad para ayudar al bienestar de adultos mayores.'], ['DISTINCIÓN NACIONAL DANIEL ISAZA: De orden nacional, Su nombre hace honor al Sc Daniel Isaza, primer Jefe Scout Nacional y fue creada para reconocer al mejor Lobato, Scout, Caminante, Rover y Dirigente de un grupo Scout']], [['']], 'reconocimientos')
  //- section.mainContainer-sectionTwo
  //-   +titlesPack('Nuestro', 'Equipo')
  //-   article.mainContainer-body_b2
  //-     .wrap-text
  //-       .wrap-text__j1
  //-         p Luz azucena Valero -
  //-           span presidente de consejo
  //-         p Truman herrera -
  //-           span jefe de grupo
  //-         p David López Holguín -
  //-           span Subjefe de grupo
  //-       .wrap-text__j2
  //-         p Alejandra Salazar -
  //-           span Jefe de manada
  //-         p Miller Peña -
  //-           span Jefe de tropa
  //-         p Jhon Pulido -
  //-           span Jefe de comunidad
  //-         p David Alexander Melo -
  //-           span Jefe de Clan


  //- section.mainContainer-sectionThree
  //-   article.mainContainer-boxC
  //-     +titlesPack('Razón', 'de Ser')
  //-     .mainContainer-body_b3
  //-       p.mainContainer-text Millones de jóvenes en todo el mundo llevan voluntariamente el uniforme scout. Ser un verdadero ciudadano universal habla de convertir a niños en adultos impresionantes, personas que se valoren y valoren a los demás y que dediquen tiempo a quien lo necesite, todo ello sin necesidad de ninguna habilidad específica. Ser scout vas allá de un hobby, es ayudar a construir un mundo mejor en igualdad de condiciones, donde es prioridad el servicio por los demás y el medio ambiente.

  //-       p Por supuesto que la diversión y la amistad nos invaden, somos un grupo scout de personas chéveres que hacemos cosas chéveres.
  //-   article.mainContainer-boxInfo
  //-     .wrapOne
  //-       +boxInfo('MISIÓN', 'El grupo 2 Oxford contribuye en la educación de los jóvenes basado en valores', 'La Misión del Movimiento Scout es contribuir a la educación de los jóvenes, mediante un sistema de valores basado en la Promesa y la Ley Scout, para ayudar a construir un mundo mejor donde las personas se sientan realizadas como individuos y jueguen un papel constructivo en la sociedad.' )
  //-     .wrapTwo
  //-       +boxInfo('VISIÓN', 'El grupo 2 Oxford comparte la visión de nuestra asociación.', 'Para el 2023, la Asociación Scouts de Colombia será uno de los movimientos juveniles líderes en nuestro país, permitiendo a 50.000 jóvenes convertirse en ciudadanos activos y gestores de paz, creando un cambio positivo en sus comunidades basado en los valores compartidos.' )

