
//GENERALES
//path
$path: '../../images/';

//Tamaño de fuente para el proyecto
//$fsBase:62.5%;
$fsBase:16px;

//alto general
$hBase:100vh;

//fuentes
// $ftIncosolata:'Inconsolata', monospace;
// $ftyanone:'Yanone Kaffeesatz', sans-serif;
// $ftRaleway:'Raleway', sans-serif;

// grosor
$ligth:300;
$normal:400;
$medium:500;
$bold:700;

//Familia de fuentes
$ftroboto: 'Roboto', sans-serif;
$ftOswald: 'Oswald', sans-serif;

// Variables de color
$color     : #F58634;
$secundario: #D7CC75;
$resalte   : #91AE45;
$clAlterno : #8CA22A;

// variables de media query
$xsScreen    : 320px; //iphone retina
$smallScreen : 400px; //telefonos 480
$mediumScreen: 700px; //tablets 760
$wideScreen  : 990px; //escritorio - pequeño
$largeScreen : 1200px; //escritorio normal
$xlScreen    : 1366px;  //escritorio portatil
$opScreen    : 1480px; //tv fullHD
