
//GENERALES
//path
$path: '../../images/';

//Tamaño de fuente para el proyecto
//$fsBase:62.5%;
$fsBase:16px;

//alto general
$hBase:100vh;

//fuentes
// $ftIncosolata:'Inconsolata', monospace;
// $ftyanone:'Yanone Kaffeesatz', sans-serif;
// $ftRaleway:'Raleway', sans-serif;

// grosor
$ligth:300;
$normal:400;
$medium:500;
$bold:700;

//Familia de fuentes
$ftroboto: 'Roboto', sans-serif;
$ftOswald: 'Oswald', sans-serif;

// Variables de color
$color     : rgb(89, 89, 99);
$secundario: rgb(75, 75, 108);
$resalte   : #91AE45;
$clAlterno : #8CA22A;

// variables de media query
$xsScreen:470px;
$smallScreen : 520px;
$mediumScreen: 750px;
$wideScreen  : 1024px;
$largeScreen : 1280px;
$xlScreen: 1366px;
$opScreen:1480px;
