//- variables generales del proyecto
-empresa='Código Creativo'
-pages=['Inicio', 'Quiénes Somos', 'Qué Hacemos', 'Contáctanos']
-pagesDescription=['Tus mejores ideas en Código']
-sites=['#inicio', '#', '#', '#', '#']
-services=['Sitios WEB', 'Apps', 'Motion Graphics', 'Diseño 2D y 3D publicitario']
-serviceSites=['inicio.html', 'site01.html', 'site02.html', 'site03.html']
-servicesImg=['image1.png', 'images/tropa.png', 'images/comunidad.png', 'images/clan.png']
-pageTitle='inicio'
-siteTitle= empresa
-description='Diseñamos Experiencias WEB, publicamos sitios profesionales, originales, creativos y funcionales'
-sizeImgServices=300
