//- variables generales del proyecto
-empresa='Refugio del Zorzal'
-pagesDescription=['Muy Pronto']
-pageTitle='Pronto'
-siteTitle= empresa
-description='Quiere que su negocio tenga visibilidad 24 horas al dia y 7 dias a la semana? Con nosotros encontrara todo lo necesario para impulsar su marca en el mundo digital dándole visibilidad a su negocio para ganar nuevos clientes, incrementar sus ventas e ingresos.'
-sizeImgServices=300
