extends ../includes/layout


block content
  include ../includes/hero.pug
  //- include ../includes/main.pug
  //- include ../includes/actividades.pug
  //- include ../includes/grupos.pug
  //- include ../includes/contact.pug
  //- include ../includes/footer.pug




