body{
  .hero{
    display: grid;
    grid-template-rows: 60% 30% 10%;
    .encabezado{
      // background-color: aqua;
      grid-row: 1 / 2;
    }
    .logo{
      // background-color: burlywood;
      grid-row: 2 / 3;
    }
    .url{
      // background-color: chocolate;
      grid-row: 3 / -1;
    }
  }
}
